/vendor/
/web/core
/web/libraries
/web/modules/contrib
/web/themes/contrib
/web/sites/*/settings*.php
/web/sites/*/services*.yml
/web/sites/*/files
/web/sites/*/private
/web/sites/simpletest
/web/db.sqlite
